@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"),
    url("Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: medium;
    font-weight: 500;
    src: local("Inter"),
    url("Inter-Medium.ttf") format("truetype");
}